@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }
div.disabled {
  pointer-events: auto;
  color: grey;
}
div.disabled:active {
  pointer-events: none;
}
.month {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .month-name {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    padding-right: 5px;
    font-weight: bold;
    margin-left: 10px;
  }
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;    
  }
  .day {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    position: relative;    
  }
  .day.selected {
    background-color: transparent;
  }
  .day > span {
  position: relative;
  z-index: 2; /* siempre encima del ::after */
}
  .day.selected::after {
    content: "";
    position: absolute;
    inset: 0;             /* top/right/bottom/left: 0 */
    background: #e53935; /*  color superior */

    /* Define el polígono que crea la diagonal:
      En este ejemplo la línea va del 30% en el borde izquierdo al 80% en el borde derecho */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 30%);
    z-index: 1;
  }
  .disabled {
    color: red;
    background-color: #FFD6D6;
    pointer-events: none;    
  }
  .disabled:hover {
    cursor: not-allowed;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
